.ratation {
  transform: rotate(90deg) translate(-50%, 40%) !important;
}

.tagslut {
  margin-top: 2rem;
}

.tagslut:first {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tagslut-label {
  color: #777;
  font-weight: normal;
  font-size: 1em;
}

.tagslut-fields {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  width: 75vw;
  background: #f8f9fa;
  position: relative;
}

/* .divider {
  font-weight: bold;
  position: absolute;
  right: 7%;
  height: 32px;
  color: #444;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.tagslut-fields svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

.tagslut-input {
  background: transparent;
  border-radius: 8px;
  padding: 0.7rem 1rem;
  outline: none;
  border: 2px solid #0d60f0;
  width: 100%;
  height: 2.7rem;
  position: relative;
  font-size: 1em;
  color: #333;
}

.tagslut-list {
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  min-height: 10rem;
  height: 24rem;
  position: relative;
  margin-top: 0.5rem;
  overflow-y: scroll;
  width: 75vw;
  scroll-behavior: smooth;
}

.tagslut-list::-webkit-scrollbar {
  width: 7px;
}

.tagslut-list::-webkit-scrollbar-thumb {
  background: #999;
  height: 140px;
  border-radius: 8px;
}

.tagslut-items {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.tagslut-item {
  width: 100%;
  cursor: pointer;
  padding: 0.7rem;
  color: #333;
  font-weight: normal;
  transition: all 0.25s ease;
  background-color: transparent;
}

.tagslut-item:hover {
  background-color: rgba(13, 96, 240, 0.2);
}

.tagslut-item span {
  font-size: 1.2rem;
}

.skills {
  border: 2px solid #d9d9d9;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  max-width: 75vw;
}

.skills-list {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  min-height: min-content;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  background-color: #0d60f0;
  color: #f8f9fa;
  border-radius: 4px;
  min-width: 6rem;
  height: 2rem;
  /* width: 100%; */
}

.skill-del {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: auto;
}
